# LLaNA large files
data/*
outputs/*

# notebooks
*.ipynb

# Huggingface hub files
push_dataset_to_hub.py

# Byte-compiled
__pycache__/

# sbatch input/output 
sbatch*
*.err
*.out
*.txt

# model results
checkpoints/
evaluation_results/
outputs/
wandb/