torch==2.2.0+cu121
ninja==1.11.1.1
flash-attn==2.5.3
accelerate==0.27.2
transformers==4.40.1
sentence-transformers==2.7.0
sentencepiece==0.1.99
open3d==0.16.0
tqdm
pandas
torchvision
wandb
matplotlib
numpy
pydantic
gradio
traitlets
ipython